.SobreEmpresa{
  color: black;
  margin-top: 8rem;
}

.SobreEmpresa strong{
  color: var(--color-typo-dark);
  -webkit-text-stroke: .3px var(--color-typo-clear);
  text-stroke: .4px var(--color-typo-clear);
}

.SobreEmpresa p{
  color: var(--color-BG-dark);
  font-family: 'Orelega One';
  font-size: 1.4rem;
  font-weight: 900;
}

.comercial{

}

.empresarial{

}