#root {
  font-size: 16px;
  --color-BG-dark: #00004B;
  --color-BG-clear: #DE8646;
  --color-BG-clear-blue: #ADCAF6;
  --color-typo-clear: #E4E6F8;
  --color-typo-dark: #E76E1A;
  background-color: var(--color-BG-clear);
}

* {
  box-sizing: border-box;
}
body{
  margin: 0px;

  color: var(--color-typo-clear);
  --type-first: 'MuseoModerno', Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  font-family: var(--type-first);
  margin-bottom: 900px;
}

h1, h2, h3, h4, p{
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: var(--color-typo-clear);
}

img {
  display: block;
  max-width: 100%;
}

@keyframes logo-spin {

}
