#root {
  font-size: 16px;
  --color-BG-dark: #00004B;
  --color-BG-clear: #DE8646;
  --color-BG-clear-blue: #ADCAF6;
  --color-typo-clear: #E4E6F8;
  --color-typo-dark: #E76E1A;
  background-color: var(--color-BG-clear);
}

* {
  box-sizing: border-box;
}
body{
  margin: 0px;

  color: var(--color-typo-clear);
  --type-first: 'MuseoModerno', Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p{
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: var(--color-typo-clear);
}

img {
  display: block;
  max-width: 100%;
}


.Titulo{
  font-family: 'Orelega one';
  -webkit-text-stroke: 1px var(--color-BG-dark);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  text-stroke: 1px #8B6A53;
  margin: 3rem 0;
}

.Titulo::before{
  content: '';
  width: 10px;
  height: 20px;
  background-color: var(--color-BG-clear-blue);
  margin-right: 20px;
  display: inline-block;
  justify-self: flex-start;
  border-radius: 6px;
  border: 1px solid var(--color-BG-dark)
}

@media(max-width:720px){
  .Titulo{
    justify-self: center;
  }
}
